<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhotoBucket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <machineKey validationKey="268AB9B2A73DDD0C7D8FF8D8645B7BD16C6CEDA3BC5B9D22D5D173EF66AE6C35B7ED5F8B020E08C882FF40CB4152E0A00704A4C16498F4C6C0268FC4F04F6ADB" decryptionKey="288D7E61A6BBD947078059D8BC6BF4971BA9B801BEAD5757"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <membership defaultProvider="AwsSimpleDbMembership">
      <providers>
        <clear/>
        <add passwordFormat="Encrypted" name="AwsSimpleDbMembership" type="PhotoBucket.SimpleDbMembershipProvider, Petboard, Version=1.0.0.0, Culture=neutral"/>
      </providers>
    </membership>
    <authentication mode="Forms"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add src="~/Controls/Notify.ascx" tagPrefix="pc" tagName="Notify"/>
      </controls>
    </pages>
  </system.web>
  <location path="public">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="error.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="MyProfile.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="setup.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <PhotoBucket.Properties.Settings>
      <setting name="AWSMembershipDomain" serializeAs="String">
        <value>PhotoBucket-membership</value>
      </setting>
      <setting name="BucketNameFormat" serializeAs="String">
        <value>PhotoBucket-{0}-{1}</value>
      </setting>
      <setting name="FlashSessionKey" serializeAs="String">
        <value>Flash</value>
      </setting>
      <setting name="PhotoBucketPublicDomainName" serializeAs="String">
        <value>PhotoBucket-public</value>
      </setting>
      <setting name="S3BucketUrlFormat" serializeAs="String">
        <value>http://s3.amazonaws.com/{0}/{1}</value>
      </setting>
      <setting name="SimpleDbDomainNameFormat" serializeAs="String">
        <value>PhotoBucket-{0}</value>
      </setting>
      <setting name="PhotoBucketFriendsDomain" serializeAs="String">
        <value>PhotoBucket-likes</value>
      </setting>
      <setting name="AWSAccessKey" serializeAs="String">
          <value>AKIAI6HN3EI4GRRFKBSA</value>
      </setting>
      <setting name="AWSSecretAccessKey" serializeAs="String">
         <value>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</value>
      </setting>
    </PhotoBucket.Properties.Settings>
  </applicationSettings>
</configuration>